* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background-color: tan;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.myfoto {
  width: 50%;
}
.flex {
  margin: 15px;
  background-color: wheat;
}
li {
  list-style: none;
}
